<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Hobbies</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/about">About</a> |
            <a href="/hobby">Hobbies</a>
    
        </nav>
    </header>

    <section class="container">
        <h2>Hobbies</h2>
    
        <div class="hobby-section">
            <div>
                <h3>Travelling</h3>
                <p>I consider myself to be a seasoned and enthusiastic traveler, and there is nothing I enjoy more than discovering new places and cultures. I have explored many destinations across the United States, including New York City, which is undoubtedly my favorite city in the world. In addition, I have journeyed to Las Vegas, South Carolina, Los Angeles, and Arizona, each time immersing myself in the local culture and discovering new things. As I look ahead, my sights are set on Europe, a destination that has been on my bucket list for many years, and one which I am determined to explore in 2025.</p>
            </div>
            <img src="/static/image1.png" alt="A photo of me in New York City">
        </div>
    
        <div class="hobby-section">
            <div>
                <h3>Sports Fanatic</h3>
                <p>I am a highly skilled professional with a true passion for sports. Whether it’s a nail-biting Steelers game or a fast-paced hockey match, I love being part of the action. In fact, I have had season tickets for the Steelers for the past three years and make sure to attend several Pirates and Penguins games each season. I am just as dedicated in my professional pursuits as I am in my personal interests, so let's connect and explore how I can best contribute to your organization.</p>
            </div>
            <img src="/static/image3.png" alt="A photo of me with Ike Taylor">
        </div>
    
        <div class="hobby-section">
            <div>
                <h3>Off-Roading</h3>
                <p>Exploring the roads less traveled has been my passion since I purchased my Jeep Wrangler three years ago. To fuel this passion, I joined forces with a group of experienced off-roaders who host regular events designed to help newcomers get acquainted with the Jeep community. Participating in these events has allowed me to expand my knowledge significantly, and I am now in a position to share my love and understanding of off-roading with others and help new enthusiasts get started on their journey.</p>
            </div>
            <img src="/static/image4.png" alt="A photo of my Jeep (left)">
        </div>
    
    </section>
    

</body>
</html>
